@import "tailwindcss";

@theme {
  --font-sans: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  
  --color-background: #fdfbf7;
  --color-foreground: #4a4a4a;
  --color-primary: #86efac;
  --color-secondary: #fef08a;
  --color-destructive: #fca5a5;
  --color-accent: #93c5fd;
}

body {
  @apply bg-background text-foreground font-sans m-0 antialiased;
}
